# Unity
Unity/.vs/
Unity/Temp/
Unity/Library/
Unity/Builds/

# C++
Cpp/DirectInput/.vs/
Cpp/DirectInput/Builds/
Cpp/DirectInput/Intermediate_Dir/
Cpp/DirectInput/DirectInput.sdf
Cpp/DirectInput/DirectInput.VC.opendb
